html {
	height: 100%;
	background-image: radial-gradient(2200px, #B5FFFF,#3A3897); 
}
* {
margin: 0;
padding: 0;
}
button {
	outline: none;
	border: none;
	cursor: pointer;
}
body {
font-family: 'Inconsolata', monospace;
line-height: 1.25;
font-size: 1rem;    
}
.app {   
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); 

	width: 960px;
	height: 625px;           
	margin: 0 auto;
}
.start-button {
	display: block;

	position: fixed;
	top: calc(50% - 40px);
	left: calc(50% - 160px);
	transform: scale(1);	

	padding: 20px;

	font-size: 2rem;
	text-transform: uppercase;
	color: #fff;

	background-image: radial-gradient(200% 200%, #29ABE2, #4F00BC);
	border-radius: 20px;

	transition: transform .3s, color .3s;
	animation: appearance 1s ease-out;	
	&:hover{
		transform: scale(1.1);
		box-shadow: 0 0 20px 5px;
		color: #06266F;		
	}
	&.hide {
		transform: scale(0);	
	}
	&.start {
		transform: scale(1);
	}
}
.button-bar {
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;

	width: 70%;
	padding: 0 20px;
	margin: 0 auto;
}
.restart-button,
.end-game-button {
	display: block;

	width: 270px;	
	padding: 20px;

	font-size: 1.5rem;
	text-transform: uppercase;
	color: #fff;

	background-image: radial-gradient(300% 150%, #29ABE2, #4F00BC);
	border-radius: 20px;

	transition: transform .3s, color .3s;
	&:hover {
		box-shadow: 0 0 5px 2px;
		transform: translateY(-3px);
		color: #06266F;
	}
}
.restart-button {
	animation: restartButtonAppearance .7s ease-out;
}
.end-game-button {
	animation: endButtonAppearance .7s ease-out;
}
.compliments {
	position: absolute;
	top: 100px;
	left: 50%;
	z-index: 20;
	transform: translateX(-50%);

	font-size: 6rem;

	animation: complimentsAppearence .4s;
}
.moves {
	position: absolute;
	top: 250px;
	left: 50%;
	z-index: 30;
	transform: translateX(-50%);

	font-size: 2.2rem;
	
	animation: movesAppearence .4s;
}
.score {
	position: absolute;
	top: 300px;
	left: 50%;
	z-index: 40;
	transform: translateX(-50%);

	font-size: 9rem;
	color: #4F00BC;

	animation: resultAppearence 2.8s;
}
.stage {
	display: flex;
	flex-wrap: wrap;
	
	width: 70%;
	margin: 0 auto;
	margin-bottom: 20px;	
}
.cube-container {
	position: relative;
	width: calc(20% - 40px);
	height: 94.4px;
	margin: 20px;
	perspective: 1000px;
}
.cube {
	transform-style: preserve-3d;
	transform: rotateY(0);	
	transition: transform .4s, box-shadow .3s;

	width: 100%;
	height: 94.4px;

	cursor: pointer;
	animation: cubeAppearance .7s;
	&:hover{
		box-shadow: 0 0 16px 1px #06266F;
	}	
	&.show {
		transform: rotateY(-180deg);
	}		
	&.hide {
		transform: scale(0);
	}
}
.side {
	box-sizing: border-box;
	position: absolute;
	width: 100%;
	height: 94.4px;
	border: 1px solid white;
	background-image: linear-gradient(15deg, #4F00BC, #29ABE2);
	color: #fff;
}
.front {
	transform: translateZ(47.2px);
}
.right {
	transform: rotateY(90deg) translateZ(47.2px);
}
.back {
	transform: rotateY(180deg) translateZ(47.2px);
	span {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		font-size: 2.5rem;
		width: 94px;
		height: 94px;
	}
}
.left {
	transform: rotateY(-90deg) translateZ(47.2px);
}
.top {
	transform: rotateX(90deg) translateZ(47.2px);
}
.bottom {
	transform: rotateX(-90deg) translateZ(47.2px);
}

@keyframes vibration{
	
	20%{transform: rotateZ(-1deg);}
	
	40%{transform: rotateZ(1deg);}
	
	60%{transform: rotateZ(-1deg);}
	
	80%{transform: rotateZ(1deg);}
	
	100%{transform: rotateZ(-1deg);}

}

@keyframes appearance{
	from {transform: scale(0); opacity: 0;}
	40% {transform: scale(1.4); opacity: 1;}
	70% {transform: scale(0.9);}	
	to {transform: scale(1);}
}


@keyframes cubeAppearance{
	0%{transform: scale(0);}
	50%{transform: scale(1.2);}
	100%{transform: scale(1);}
}

@keyframes cubeDisappearanceScale{
	from {transform: scale(1);}
	30% {transform: scale(1.2);}
	to {transform: scale(0);}
}

@keyframes cubeDisappearanceOpacity{
	from { opacity: 1;}	
	to { opacity: 0;}
}

@keyframes cubeDisappearance2{
	from {transform: translateX(0);}	
	to {transform: translateX(400%);}
}

@keyframes restartButtonAppearance{
	from {transform: translateX(-150%); opacity: 0;}
	40% {transform: translateX(10%); opacity: 1;}
	to {transform: translateX(0);}
}

@keyframes restartButtonDisappearance{
	from {transform: translateX(0);}	
	40% {transform: translateX(10%);}
	30% { opacity: 1;}
	to {transform: translateX(-250%); opacity: 0;}
}

@keyframes endButtonAppearance{
	from {transform: translateX(150%); opacity: 0;}
	30% { opacity: 1;}
	40% {transform: translateX(-10%);}
	to {transform: translateX(0);}
}

@keyframes endButtonDisappearance{
	from {transform: translateX(0);}
	40% {transform: translateX(-10%);}
	30% { opacity: 1;}
	to {transform: translateX(250%); opacity: 0;}
}

@keyframes complimentsDisappearence{
	from {transform: translateX(-50%) scale(1); opacity: 1;}
	to {transform: translateX(-50%) scale(0); opacity: 0;}
}

@keyframes complimentsAppearence{
	from {transform: translate(-50%, -200px); opacity: 0;}
	to {transform: translate(-50%, 0); opacity: 1;}
}

@keyframes movesAppearence{
	from {transform: translate(-50%, -500px);  opacity: 0;}
	to {transform: translate(-50%, 0);  opacity: 1;}
}

@keyframes resultAppearence{
	from { opacity: 0;}
	to { opacity: 1;}
}