html{
    height: 100%;
    background-image: radial-gradient(2200px, #B5FFFF,#3A3897); 
}
*{
	margin: 0;
	padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
	font-family: 'Inconsolata', monospace;
	line-height: 1.25rem;
	font-size: 100%;    
}
.wrapper{    
    max-width: 960px;
    height: 100vh;           
    margin: 0 auto;
    position: relative;
}