.startButton {
  display: block;
  position: absolute;
  top: calc(50% - 40px);
  left: calc(50% - 160px);
  text-transform: uppercase;
  font-size: 2.5em;
  color: #fff;
  padding: 20px;
  cursor: pointer;
  background-image: radial-gradient(200% 200%, #29ABE2, #4F00BC);
  border: none;
  outline: none;
  border-radius: 20px;
  transform: scale(1);
  transition: transform .3s;
  animation: appearance 1s ease-out; }
  .startButton:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px 5px;
    color: #06266F; }

.startButton.hide {
  transform: scale(0); }

.startButton.start {
  transform: scale(1); }

.restartButton {
  position: absolute;
  left: 160px;
  bottom: 150px;
  display: block;
  width: 270px;
  color: #fff;
  font-size: 1.75em;
  text-transform: uppercase;
  padding: 20px;
  cursor: pointer;
  background-image: radial-gradient(300% 150%, #29ABE2, #4F00BC);
  border: none;
  border-radius: 20px;
  outline: none;
  transition: transform .3s;
  animation: restartButtonAppearance .7s ease-out; }
  .restartButton:hover {
    box-shadow: 0 0 5px 2px;
    transform: translateY(-3px);
    color: #06266F; }

.endGameButton {
  position: absolute;
  right: 160px;
  bottom: 150px;
  display: block;
  width: 270px;
  color: #fff;
  font-size: 1.75em;
  text-transform: uppercase;
  padding: 20px;
  cursor: pointer;
  background-image: radial-gradient(300% 150%, #29ABE2, #4F00BC);
  border: none;
  border-radius: 20px;
  outline: none;
  transition: transform .3s;
  animation: endButtonAppearance .7s ease-out; }
  .endGameButton:hover {
    box-shadow: 0 0 5px 2px;
    transform: translateY(-3px);
    color: #06266F; }

.compliments {
  position: absolute;
  top: 100px;
  left: calc(50% - 314px);
  font-size: 6rem;
  z-index: 20;
  animation: complimentsAppearence .4s; }

.moves {
  position: absolute;
  top: 250px;
  left: calc(50% - 220px);
  font-size: 2.2rem;
  z-index: 30;
  animation: movesAppearence .4s; }

.result {
  position: absolute;
  top: 400px;
  left: calc(50% - 72px);
  font-size: 9rem;
  color: #4F00BC;
  z-index: 40;
  animation: resultAppearence 2.8s; }

.gameField {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
  margin-top: 50px; }

.cubeContainer {
  position: relative;
  width: calc(20% - 40px);
  height: 94.4px;
  margin: 20px;
  perspective: 1000px; }

.cube {
  width: 100%;
  height: 94.4px;
  transform-style: preserve-3d;
  cursor: pointer;
  transform: rotateY(0);
  transition: transform .4s, box-shadow .3s;
  animation: cubeAppearance .7s; }
  .cube:hover {
    box-shadow: 0 0 16px 1px #06266F; }

.cube.show {
  transform: rotateY(-180deg); }

.cube.hide {
  transform: scale(0); }

.side {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 94.4px;
  border: 1px solid white;
  background-image: linear-gradient(15deg, #4F00BC, #29ABE2);
  color: #fff; }

.front {
  transform: translateZ(47.2px); }

.right {
  transform: rotateY(90deg) translateZ(47.2px); }

.back {
  transform: rotateY(180deg) translateZ(47.2px); }
  .back span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 2.5rem;
    width: 94px;
    height: 94px; }

.left {
  transform: rotateY(-90deg) translateZ(47.2px); }

.top {
  transform: rotateX(90deg) translateZ(47.2px); }

.bottom {
  transform: rotateX(-90deg) translateZ(47.2px); }

@keyframes vibration {
  20% {
    transform: rotateZ(-1deg); }
  40% {
    transform: rotateZ(1deg); }
  60% {
    transform: rotateZ(-1deg); }
  80% {
    transform: rotateZ(1deg); }
  100% {
    transform: rotateZ(-1deg); } }

@keyframes appearance {
  from {
    transform: scale(0);
    opacity: 0; }
  40% {
    transform: scale(1.4);
    opacity: 1; }
  70% {
    transform: scale(0.9); }
  to {
    transform: scale(1); } }

@keyframes cubeAppearance {
  0% {
    transform: scale(0); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }

@keyframes cubeDisappearanceScale {
  from {
    transform: scale(1); }
  30% {
    transform: scale(1.2); }
  to {
    transform: scale(0); } }

@keyframes cubeDisappearanceOpacity {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes cubeDisappearance2 {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(400%); } }

@keyframes restartButtonAppearance {
  from {
    transform: translateX(-150%);
    opacity: 0; }
  40% {
    transform: translateX(10%);
    opacity: 1; }
  to {
    transform: translateX(0); } }

@keyframes restartButtonDisappearance {
  from {
    transform: translateX(0); }
  40% {
    transform: translateX(10%); }
  30% {
    opacity: 1; }
  to {
    transform: translateX(-250%);
    opacity: 0; } }

@keyframes endButtonAppearance {
  from {
    transform: translateX(150%);
    opacity: 0; }
  30% {
    opacity: 1; }
  40% {
    transform: translateX(-10%); }
  to {
    transform: translateX(0); } }

@keyframes endButtonDisappearance {
  from {
    transform: translateX(0); }
  40% {
    transform: translateX(-10%); }
  30% {
    opacity: 1; }
  to {
    transform: translateX(250%);
    opacity: 0; } }

@keyframes complimentsDisappearence {
  from {
    transform: scale(1);
    opacity: 1; }
  to {
    transform: scale(0);
    opacity: 0; } }

@keyframes complimentsAppearence {
  from {
    transform: translateY(-200px);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }

@keyframes movesAppearence {
  from {
    transform: translateY(-500px);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }

@keyframes resultAppearence {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
